*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
    height: 100%;
}

.category-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.selected-Categories{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin:1rem 0rem;
}

.catSelected{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: .4rem .4rem;
  padding: 0.4rem 0.8rem;
  border-radius: calc(5px * 3.74);;
  background-color: rgb(111, 141, 163);
  color: white;
}

.catSelectedDel{
  border-radius: 50%;
    background-color: rgb(85, 109, 127);
    padding: 0.2rem;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1.1rem;
    margin-right: 0.2rem;
    cursor: pointer;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.wrapper > #clock{
    color: white;
    font-weight: bold;
    font-size: 10rem;
}

.wrapper > #greeting{
    color: white;
    font-weight: bold;
    font-size: 4rem;
}

.links-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: auto;
    padding: 3rem;
    margin-top: 2rem;
    border-radius: 2%;
    /*background-color: rgba(42,42,42,0.5);*/
}

.link-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.6rem 0.5rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
    text-decoration: none;
}

.link-container:hover{
    transform: scale(1.1);
}

.link-container > span{
    color: rgb(200, 200, 200);
}

#addlink{
    border-radius: 50%;
    background-color: rgb(80, 78, 78);
    padding: 0.2rem;
}

#setup{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(187, 207, 222);
}

.setup-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.setup-wrapper > h1{
    color: rgb(111, 141, 163);
}

/*----------------------------------*/
.inputbox {
    position: relative;
    width: 196px;
    margin: 1.3rem 0rem;
  }
  
  .inputbox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: rgb(111, 141, 163);
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
  }
  
  .inputbox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    letter-spacing: 00.05em;
    transition: 0.5s;
    pointer-events: none;
  }
  
  .inputbox input:valid ~span,
  .inputbox input:focus ~span {
    color: #333d3d;
    transform: translateX(-10px) translateY(-34px);
    font-size: 0,75em;
  }
  
  .inputbox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #333d3d;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
  }
  
  .inputbox input:valid ~i,
  .inputbox input:focus ~i {
    height: 44px;
  }
/*----------------------------------*/

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: rgb(111, 141, 163);
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    background-color: #fff;
    color: rgb(111, 141, 163);
    border: 2px solid rgb(111, 141, 163);
    box-shadow: 5px 5px 0px rgb(111, 141, 163);
  }
  
  .button:active {
    background-color: #bdd1ec;
    box-shadow: none;
    transform: translateY(4px);
  }

  #open_dialog {
    margin: 0 auto;
  }
  
  dialog {
    position: absolute;
  left: 50%;
  top: 5%;
  border-radius: calc(5px * 3.74);
  transform: translateX(-50%);
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 1.6rem;
    max-width: 100%;
  }

  dialog > form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  dialog > form > .inputItems{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  
  .newLinkButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.7rem 0rem;
  }

  .newLinkButtons > button{
    border: none;
    padding: 0.3rem 0.5rem;
    margin: 0rem 0.5rem;
  }

  .newLinkButtons > button:first-child{
    color: white;
    background-color: #f7524f;
  }
  .newLinkButtons > button:last-child{
    color: white;
    background-color: #9bdeed;
  }